.Images-Container {
  padding: 30px 5em;
  justify-content: start;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* @media (max-width: 768px) {
  .Images-Container {
    flex-direction: column;
  }
} */
